

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 8px;
        
}

.text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.products {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    
    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .subtitle {
        text-align: unset;
    }

    .products {
        display: none;
    }

    .team-list {
        gap: 64px 24px;
    }  

    .team-item {
        width: calc((100% - 64px) / 2);
        
    }

    .team .container {
       max-width: 584px;
   }
        
    
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
            max-width: unset;
             width: calc((100% - 72px) / 4);
}
    .benefits-item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F4F4FD;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
}

   .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

   .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.products {
    display: block;
}

}

